.container {
    padding: 20px;
    background-color: #1d2634;
    color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.backButton {
    background-color: #008000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.backButton:hover {
    background-color: #006400;
}

.downloadButton {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.downloadButton:hover {
    background-color: #0056b3;
}
